$vars: (
  white: #fff,
  black: #000,
);
$map: (
  gray: (
    1: #e6e5e5,
    2: #ccc,
    3: '',
    4: #8c8c8c,
    5: #666,
    6: #555,
    7: #444,
    8: #333,
  ),
  warm-gray: (
    1: #faf8f6,
    2: #f4f1ee,
    3: #e6e3e0,
    4: #d8cfc6,
    5: '',
    6: #9a8b7d,
    7: '',
    8: '',
  ),
  red: (
    1: #fff5f7,
    2: '',
    3: '',
    4: #f03,
    5: '',
    6: #b5121b,
    7: #670014,
  ),
  green: (
    4: #408000,
  ),
  blue: (
    1: #eff9ff,
    2: #72cdf4,
    3: '',
    4: #009ddc,
    5: '',
    6: '',
    7: #004966,
  ),
  yellow: (
    1: #fffae9,
    2: #fff0c5,
    3: #ffdb6e,
    4: #fc3,
    5: #f5c430,
    6: #e7ac00,
    7: #bc8d00,
    8: #8d6900,
  ),
);
